{% extends 'base.html' %}

{% block content %}
<h2>Hola mundo desde Django </h2>
<h3>Con templates</h3>
<p>
	{{myText|upper|truncatechars:"16"}},
	{{myNumber}}
</p>

<ul>
	{% for myItem in myList%}
	<li>{{ forloop.counter }} - {{ myItem|add:"2" }}
	{% if myItem == 33 %}
		-Este número es mágico
	
	{% elif myItem > 50 %}
		-Este número es mayor que 50
	{% endif %}
	
	{% if "4" not in myItem %}
		-Esta cadena no contiene el 4
	{% endif %}

	</li>
	{% endfor %}
	<li>Indexado en cero: </li>
	{% for item in myList%}
	<li>{{ forloop.counter0 }} - {{ item }}
		{% if "ho" in item %}
			-Esta cadena contiene la subcadena "ho"
		{% endif %} 

	</li>
	{% endfor %}
	<li>Indice al reves : </li>
	{% for item in myList%}
	<li>{{ forloop.revcounter }} - {{ item }}
		{% if somevar is not False %}
  			Este booleano no es falso
		{% endif %}
	</li>
	{% endfor %}

</ul>
<p>for's anidados</p>
<ul>
	{% for item in my2dList %}
		{% for it in item %}
			<li> {{it}} </li>

		{% endfor %}
	{% endfor %}
</ul>


{% endblock %}