{% extends 'base.html' %}

{% block content %}
<h2>Hola mundo desde Django </h2>
<h3>Con templates</h3>
<p>
	{{myText}},
	{{myNumber}}
</p>

<ul>
	{% for myItem in myList%}
	<li>{{ forloop.counter }} - {{ myItem }}</li>
	{% endfor %}
	<li>Indexado en cero: </li>
	{% for item in myList%}
	<li>{{ forloop.counter0 }} - {{ item }}</li>
	{% endfor %}
	<li>Indice al reves : </li>
	{% for item in myList%}
	<li>{{ forloop.revcounter }} - {{ item }}</li>
	{% endfor %}

</ul>
<p>for's anidados</p>
<ul>
	{% for item in my2dList %}
		{% for it in item %}
			<li> {{it}} </li>

		{% endfor %}
	{% endfor %}
</ul>


{% endblock %}